#root {
  max-width: 1280px;



}

body{
  background-color: black;

  margin: 0 auto;
}

.card{

  border: 1px solid rgba(255, 255, 255, 0.169);
  background-color: transparent;
  max-width: 450px;
  display: flex;
  border-radius: 0;
  align-content: center;
  justify-content: center;
  justify-items: center;
  margin: 0 auto;
  color: rgba(255, 255, 255, 0.818);
  
}

.card-body{
  padding: 12px;
  display: grid;
}

.author{
  display: inline-flex;

}

.card-title{
  font-size: 0.9em;
  position: relative;
  text-align: center;
  justify-content: center;
  text-indent: 10px;
  font-weight: bold;
  margin-top: 4.2px;
}

.card-text{
  font-size: 0.81em;
  padding-left: 2.5rem;
}

.card-img-top{

  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.img-post-div{
  display: flex;
  width: fit-content;

  padding-left: 2.5rem;
  padding-right: 0.2rem;

}

.img-post{
  width: 100%;
  border-radius: 6px;
  max-width: 390px;
}

.like {

  transition: 0.3s;
  margin: 10px;
  margin-bottom: 2px;
  width: 20px;
  height: 20px;
  border: 1px solid white;
  background-color: transparent;
  border-radius: 50%;
}

.like:active {
  transition: 0.3s;
  background-color: white;
}

.type{

  min-height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.169);
  border-bottom: 0;
  border-top: 0;
  width: 100%;
  color: rgba(255, 255, 255, 0.884);
  outline: none;
}

.type::placeholder{
  font-size: 12px;
}

.attach{
  display: flex;
  margin-bottom: 10px;
}

.aut {
  margin: 10px;
  height: 50px;
  width: 50px;
  border: 1px solid purple;
}

.inputfield{
  display: flex;
}

.right {
  margin-left: auto;
  margin-right: 10px;
  color: rgba(255, 255, 255, 0.855);
}

