#root {
  max-width: 1280px;



}

body{
  background-color: black;

  margin: 0 auto;
}

.card{

  border: 1px solid rgba(255, 255, 255, 0.169);
  background-color: transparent;
  max-width: 450px;
  display: flex;
  border-radius: 0;
  align-content: center;
  justify-content: center;
  justify-items: center;
  margin: 0 auto;
  color: rgba(255, 255, 255, 0.818);
  
}

.card-body{
  padding: 8px;
  display: grid;
}

.author{
  display: inline-flex;

}

.card-title{
  font-size: 0.9em;
  position: relative;
  text-align: center;
  justify-content: center;
  text-indent: 10px;
  font-weight: bold;
}

.card-text{
  font-size: 0.81em;
  padding-left: 2.5rem;
}

.card-img-top{

  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.img-post-div{
  display: flex;

  margin-bottom: 12px;
  padding-left: 2.38rem;
}

.img-post{
  border-radius: 6px;
  
  max-width: 390px;
}